body {
    color: #fff;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(18, 93, 255);
    min-width: 50rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(6, 103, 247, 0.5);
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 1.3rem;
    color: #fff;
}

.choice-text {
    padding: 1.3rem;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, rgba(11, 223, 36) 0%, rgb(41, 232, 111) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgba(230, 29, 1) 0%, rgb(224, 11, 1) 100%);
}


/* Heads up display */
#game-progress {
    display: flex;
    justify-content: space-between;
}

.progress-prefix {
    text-align: center;
    font-size: 1.3rem;
}

.progress-main-text {
    text-align: center;
}

#progressBar {
    width: 12.5rem;
    height: 1.9rem;
    border: 2px solid rgb(11, 223, 36);
    margin-top: 1.3rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(11, 223, 36);
    width: 0%;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 25rem;
    }
}